ol a {
    color: #000000;
}

li {
    border: 1px solid grey;
    margin-bottom: 5px;
    width: 150px;
    padding-left: 5px;
}

.buttons {
    margin-top: 20px;
}

#recipe-description {
    border-left: 1px solid black;
}

.ui.input {
    width: 300px;
    margin-bottom: 10px;
}

.favourite {
	color: red;
}

.favourite a{
	color: red; 
}

.ui.input input.invalid {
    border-color: red;
}

.ui.input input.invalid:focus {
    border-color: red;
}